variable "aws" {
    type = "map"
    default = {
        access_key = ""
        secret_key = ""
        region = ""
        vpc_cidr = ""
        vpc_cidr_mask = ""
        subnet_cidr_mask = ""
        ami_id = ""
        asg_min = 0
        asg_max = 0
        asg_desired = 0
    }
}